input {
    margin: 28px 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.5);
    width: 280px;
}

.dropdown {
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    width: 750px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
}

li:hover {
    background: linear-gradient(90deg, rgba(250, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: white;
    border-radius: 6px;
}