input {
    margin: 28px 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.5);
    width: 280px;
}

.dropdown {
    border: 2px solid black;
    border-radius: 8px;
    max-width: 750px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
}

li:hover {
    background: linear-gradient(90deg, rgba(250, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: white;
}